body{
  background-color: /*#304033*/#212B22;
  color: white;
  font-family: Noto Sans, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flip-card-inner {
  position: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: /*#4D6651*/#7D8C87;
  color: white;
}
.flip-card-back {
  background-color: #698C70;
  color: white;
  transform: rotateY(180deg);
}

.btn{
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer;
}
.menu{background-color: #e7e7e7; color: black;}
.menu:hover{background: #ddd;}

.carte{background-color: #DB800F;}
.carte:hover{background: #A85F0C;}
