body {
	background-color: /*#304033*/#212B22;
  	color: white;
  	font-family: Noto Sans, sans-serif;
	
	background-size:cover;
	margin-top:50px;
	margin-right:50px;
	margin-bottom:20em;
	margin-left:50px;
}
table{
	text-align: center;
}
.profil{
	background-color: #7D8C87;
	position: center,;
	padding: 25px;
	margin: 100px;
}
.btn{
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer;
}
.menu{background-color: #DB800F;}
.menu:hover{background: #A85F0C;}
.suppr{
	padding: 10px 24px; 
	background-color: #BF160D;}
.suppr:hover{background: #800F09;}

.info {
	width:50%;
	padding:5px;
}