body{
  background-color: /*#304033*/#212B22;
  color: white;
  font-family: Noto Sans, sans-serif;
}
.connex{
	background-color: #7D8C87;
	position: center;
	padding: 25px;
	margin: 50px;
}
.accueil{
	background-color: #7D8C87;
	position: center;
	padding: 25px;
	margin: 100px;
}
.btn{
  border: none; 
  color: white; 
  padding: 14px 28px; 
  cursor: pointer;
}
.carte{background-color: #e7e7e7; color: black;}
.carte:hover{background: #ddd;}

.menu{background-color: #DB800F;}
.menu:hover{background: #A85F0C;}

.suppr{
	padding: 10px 24px; 
	background-color: #BF160D;}
.suppr:hover{background: #800F09;}